 h1 {
    font-family: "Satisfy", cursive;
    font-size: 110px;
    margin: 0px;
  }
  button {
    color: white;
    background-color: rgba(32, 32, 32, 0.5);
    width: 200px;
    height: 50px;
    margin-left: 20px;
    margin-right: 20px;
    vertical-align: middle;
  }
  .button-format-parent {
    text-align: center;
  }
  .button-format-child {
    display: inline-block;
    width: 200px;
    vertical-align: middle;
    margin-left: 20px;
    margin-right: 20px;
  }
  
 
  .wasteland {
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
  }
